<section id="galeria" class="galeria dark-section">
  <div class="container">
    <h2 class="title-section light">Nosso Portfólio</h2>

    <div class="galeria-grid">
      <div class="galeria-item item-1" #galeriaItem>
        <div class="item-overlay glass">
          <h4>Hospital</h4>
          <p>Projeto de Forro e Acabamento</p>
        </div>
      </div>
      <div class="galeria-item item-2" #galeriaItem>
        <div class="item-overlay glass">
          <h4>Rede Globo</h4>
          <p>Paredes e Forro em Drywall</p>
        </div>
      </div>
      <div class="galeria-item item-3" #galeriaItem>
        <div class="item-overlay glass">
          <h4>Shopping</h4>
          <p>Paredes e Forro em Drywall</p>
        </div>
      </div>
      <div class="galeria-item item-4" #galeriaItem>
        <div class="item-overlay glass">
          <h4>Shopping</h4>
          <p>Paredes e Forro em Drywall</p>
        </div>
      </div>
      <div class="galeria-item item-5" #galeriaItem>
        <div class="item-overlay glass">
          <h4>UFV - Univ. Fed. de Viçosa</h4>
          <p>Forro Mineral</p>
        </div>
      </div>
      <div class="galeria-item item-6" #galeriaItem>
        <div class="item-overlay glass">
          <h4>Hospital </h4>
          <p>Paredes e Forro em Drywall</p>
        </div>
      </div>
      <div class="galeria-item item-7" #galeriaItem>
        <div class="item-overlay glass">
          <h4>Residência</h4>
          <p>Forro em Drywall</p>
        </div>
      </div>
      <div class="galeria-item item-8" #galeriaItem>
        <div class="item-overlay glass">
          <h4>Galeria</h4>
          <p>Forro em Drywall</p>
        </div>
      </div>
    </div>
  </div>
</section>